.header {
  background-color: $primary-bg-color;
  width: 100%;
  box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.15);
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
  position: fixed;
  top: 0;
  .schoolflow-logo {
    height: 45px;
    
  }
  .menu-button-wrapper {

    @media screen and (min-width: 768px) { 
      display: flex;
      justify-content: center;
      align-items: center;

    }
    .menu-button-name {
      display: none;

      @media screen and (min-width: 768px) { 
        display: block;
      }
    }
  }

  .menu-button {
    color: white;
    height: 30px;
    width: 30px;
    position: relative;
    right: -150px;

    &.log-in {
      right: -105px;
      height: 22px;
      width: 22px;
    }

    &.cart {
      right: -85px;
      height: 22px;
      width: 22px;
    }
  }
}