.header {
  background-color: $primary-bg-color;
  width: 100%;
  box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.15);
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
  position: fixed;
  top: 0;
  
  .schoolflow-logo {
    height: 45px;
    
  }
  .menu-button-wrapper {

    @media screen and (min-width: 768px) { 
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      position: absolute;
      right: 0;
      margin-right: 50px;
      color: white;
      font-family: $secondary-font-title;
      font-weight: bold;
      letter-spacing: 0.07em;
      font-size: $small-secondary-desktop-title;
      background-color: $primary-button-color;
      padding: 6px 0px 6px 26px;
      border-radius: $border-radius;
      transition: ease-in-out 0.2s;

      &:hover{
        background-color: $secondary-text-color;
        color: $primary-button-color;
        cursor: pointer;

        svg {
          color: $primary-button-color;
        }
      }

      &.cart{
        margin-right: 340px;
    
        svg {
          margin-left: 20px;
        }
      }

      &.log-in {
        margin-right: 150px;

        svg {
          margin-left: 20px;
        }
      }
    }
    .menu-button-name {
      display: none;

      @media screen and (min-width: 768px) { 
        display: block;
      }
    }
  }

  .menu-button {
    color: white;
    height: 30px;
    width: 30px;
    position: relative;
    right: -150px;

    @media screen and (min-width: 768px) {
      height: 25px;
      width: 25px;
      right: 0;
      position: absolute;
      margin-right: 30px;

     }
     

    &.log-in {
      right: -105px;
      height: 18px;
      width: 18px;

      @media screen and (min-width: 768px) { 
        right: 0px;
        position: relative;
      }
    }

    &.cart {
      right: -85px;
      height: 18px;
      width: 18px;

      @media screen and (min-width: 768px) { 
        right: 0px;
        position: relative;
      }
    }
  }
  .close-menu-button {
    position: absolute;
    right: 0;
    margin-right: 50px;
    color: $secondary-text-color;
    font-size: $medium-mobile-title;

    @media screen and (min-width: 768px) {  
      font-size: $large-secondary-desktop-title;
      &:hover{
        opacity: 0.7;
        color: red;
        cursor: pointer;
      }
    }
  }

  .hide-button {
    display: none;
  }
}