.header {
  background-color: $primary-bg-color;
  width: 100%;
  box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.15);
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
  position: fixed;
  top: 0;

  @media screen and (min-width: 768px) { 
    height: 65px;
  }

  .product-in-cart-icon {
    background-color: $primary-icon-color;
    border-radius: 50%;
    font-family: $secondary-font-title;
    font-weight: bold;
    color: black;
    padding: 2px 6px;
    position: absolute;
    right: 0;
    margin-right: 465px;
    top: 0;
    margin-top: 8px;
    border: $hr-border;

    @media screen and (min-width: 1900px) { 
      margin-right: 520px;
    }
  }
  
  .schoolflow-logo {

    img {
      height: 45px;
    }  
  }
  .menu-button-wrapper {

    &.first {
      margin-left: 80px;
      margin-right: 10px;

      @media screen and (min-width: 768px) { 
        margin-right: 20px;
        margin-left: 60rem;
      }
      @media screen and (min-width: 1900px) { 
        margin-left: 90rem;
      }
    }

    &.second {
      margin-right: 60px;

      @media screen and (min-width: 768px) { 
        margin-right: 70px;
      }
    }

    @media screen and (min-width: 768px) { 
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      color: white;
      font-family: $secondary-font-title;
      font-weight: bold;
      letter-spacing: 0.07em;
      font-size: $small-secondary-desktop-title;
      background-color: $primary-button-color;
      padding: 6px 26px 6px 26px;
      border-radius: $border-radius;
      transition: ease-in-out 0.2s;

      &:hover{
        background-color: $secondary-text-color;
        color: $primary-button-color;
        cursor: pointer;

        svg {
          color: $primary-button-color;
        }
      }

      &.cart{
        //margin-right: 340px;
    
        svg {
          //margin-left: 20px;
        }
      }

      &.log-in {
        //margin-right: 150px;

        svg {
          //margin-left: 20px;
        }
      }
    }
    .menu-button-name {
      display: none;

      @media screen and (min-width: 768px) { 
        display: block;
      }
    }
  }

  .menu-button {
    color: white;
    height: 30px;
    width: 30px;
    position: relative;
    //right: -190px;

    @media screen and (min-width: 768px) {
      height: 25px;
      width: 25px;
      right: 0;
     
      //margin-right: 30px;

      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
     }
     

    &.log-in {
      //right: -130px;
      height: 25px;
      width: 25px;

      @media screen and (min-width: 768px) { 
        //right: 0px;
        //position: relative;
      }
    }

    &.cart {
      //right: -110px;
      height: 25px;
      width: 25px;

      @media screen and (min-width: 768px) { 
       margin-left: 10px;
        //position: relative;
      }
    }
  }
  .close-menu-button {
    position: absolute;
    right: 0;
    margin-right: 50px;
    color: $secondary-text-color;
    font-size: $medium-mobile-title;

    @media screen and (min-width: 768px) {  
      font-size: $large-secondary-desktop-title;
      border: 2px solid transparent;
      
      &:hover{
        border: 2px solid $primary-button-color;
        border-radius: 50px;
        cursor: pointer;
      }
    }
  }

  .hide-button {
    display: none;
  }
}