.menu {
  display: none;
  background-color: white;
  width: 100%;
  position: absolute;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  bottom: 0;

  .close-menu-button {
    margin-top: 70px;
    position: absolute;
    right: 0;
    margin-right: 30px;
    font-size: $medium-mobile-title;
  
  }
  .log-in-menu-button {
    color: $secondary-text-color;
    font-weight: bold;
    background-color: $primary-button-color;
    margin-top: 130px;
    width: 154px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius;
    font-size: $medium-mobile-text;
    font-family: $secondary-font-title;
  }

  a {
    text-decoration: none;
  }

  .parent-list{
    margin-top: 40px;
    margin-left: 10px;
    border-top: $hr-border;
    width: 80%;
    padding-top: 20px;
    font-family: $secondary-font-title;
    font-weight: bold;
    font-size: $large-secondary-mobile-title;
    letter-spacing: 0.07em;
  }

  ul {
    list-style-type: none;
  }

  &.show-menu {
    display: flex;
  }

  .item {
    display: flex;
 
  }
  
  .item-name {
    grid-area: item-name;
    position: static;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color;
    margin-block-end: 10px;

    .parent-link-icon{
      position: absolute;
      right: 0;
      margin-right: 60px;
      color: $text-color;
      font-size: $medium-secondary-mobile-title;
    }
  }
  
  .child-items {
    padding-top: 60px;
    padding-inline-start: 20px;
  
    a {
      color: rgb(97, 97, 97);
      font-family: $primary-font-title;
      font-size: $large-secondary-mobile-title;
      letter-spacing: 0.07em;
    }
  }
  
  .child-item {
    padding-bottom: 15px;
   
  }
  
  .slide-fade-enter-active {
    transition: all .8s ease;
  }
  
  .slide-fade-leave-active {
    transition: all .3s cubic-bezier(0.5, 1.0, 0.8, 1.0);
  }
  
  .slide-fade-enter,
  .slide-fade-leave-to {
    transform: translateY(-10px);
    opacity: 0;
  }
  
}

