.menu {
  display: none;
  background-color: white;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  bottom: 0;

  .log-in-menu-button {
    color: $secondary-text-color;
    font-weight: bold;
    background-color: $primary-button-color;
    margin-top: 130px;
    width: 154px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius;
    font-size: $medium-mobile-text;
    font-family: $secondary-font-title;
    border: 2px solid transparent;
    transition: ease-in-out 0.2s;
    
    @media screen and (min-width: 768px) { 
      &:hover{
        border: 2px solid $primary-button-color;
        background-color: $secondary-text-color;
        color: $primary-button-color;
        cursor: pointer;
      }
    }
  }

  a {
    text-decoration: none;
  }

  .parent-list{
    margin-top: 40px;
    margin-left: 10px;
    border-top: $hr-border;
    width: 80%;
    font-family: $secondary-font-title;
    font-weight: bold;
    font-size: $large-secondary-mobile-title;
    letter-spacing: 0.07em;
    padding-inline-start: 0;

    @media screen and (min-width: 768px) { 
      width: 40%;
      font-size: $medium-secondary-desktop-title;
      padding-top: 0;
    }
  }

  ul {
    list-style-type: none;
  }

  &.show-menu {
    display: flex;
  }

  .item {
    display: flex;
    border-bottom: $hr-border;
    padding-bottom: 10px;
     
  }
  
  .item-name {
    grid-area: item-name;
    position: static;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color;
    margin-block-end: 10px;

    @media screen and (min-width: 768px) { 
      &:hover {
        opacity: 0.7;
      }
    }

    .parent-link-icon{
      position: absolute;
      right: 0;
      margin-right: 50px;
      color: $text-color;
      font-size: $medium-secondary-mobile-title;

      @media screen and (min-width: 768px) { 
        margin-right: 460px;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  
  .child-items {
    padding-top: 70px;
    padding-inline-start: 20px;
  
    a {
      color: rgb(97, 97, 97);
      font-family: $primary-font-title;
      font-size: $large-secondary-mobile-title;
      letter-spacing: 0.07em;
      transition: ease-in-out 0.2s;

      @media screen and (min-width: 768px) { 
        font-size: $medium-secondary-desktop-title;
        &:hover{
          color: $text-color;
          font-size: $large-secondary-desktop-title;
        }
      }
    }
  }
  
  .child-item {
    padding-bottom: 15px;
   
  }
  
  .slide-fade-enter-active {
    transition: all .8s ease;
  }
  
  .slide-fade-leave-active {
    transition: all .3s cubic-bezier(0.5, 1.0, 0.8, 1.0);
  }
  
  .slide-fade-enter,
  .slide-fade-leave-to {
    transform: translateY(-10px);
    opacity: 0;
  }
  .hide-button {
    display: none;
  }
}

